/* CSS Document */
/* Initial version made by [VS] vincent.spano@idiap.ch */
/* date: 23.02.2012 */

body {
  margin: 0px;
  padding: 0px;
  background-color: #ffffff;
  color: #636363;
  font-family: Arial, Helvetica, Verdana, "Lucida Grande", Lucida sans-serif;
  font-size: 0.8em;
  text-align: justify;
  line-height: 1.5;
}
img {
  border: 0;
}
/* start style for the main container with a fixed size */
.maincontainer {
  width: 1280px;
  margin: 40px auto;
  background-color: #ffffff;
}
/* start style for the container header */
.headercontainer {
  width: 1280px;
  height: 100px;
  background-color: #ffffff;
}
/* strart style for the container logo */
.logocontainer {
  width: 300px;
  padding: 0.8em 0em 0em 3em;
  float: left;
  background-color: #ffffff;
}
/* start style for the midlle container */
.middlecontainer {
  width: 1280px;
  background-color: #ffffff;
}
/* start style for the container footer */
.footercontainer {
  width: 100%;
  height: auto;
  padding: 0px;
  background-color: #333333;
  float: none;
  color: white;
  text-align: center;
  bottom: 0;
  position: fixed;
}
.footertxt {
  text-align: center;
  padding-bottom: 20px;
}
.footercontainer img {
  width: 30px;
  height: 30px;
}
@media only screen and (max-width: 1279px) {
   .footercontainer{
	 position: relative; 
	}	
  .footercontainer img {
    width: 40px;
    height: 40px; 
  }
  .maincontainer {
    width: 100%;
  }
  .headercontainer {
    width: 90%;
  }
  .middlecontainer {
    width: 95%;
    margin: 20px;
  }
  h1.documentFirstHeading {
    font-size: 36px;
    font-weight: 300;
    color: #0099cc;
    border-bottom: none;
  }	
}
