/* CSS Document */
/* Initial version made by [VS] vincent.spano@idiap.ch */
/* date: 23.02.2012 */
/*the html page structure is defined has follow:
mainbcontainer
	headercontainer
		logocontainer
		bannercontainer
	headercontainer
	
	middlecontainer
		addresscontainer
		contentcontainer
			roundbox
	middlecontainer
	
	footercontainer
mainbcontainer
*/

body{
background-color:#ffffff;
margin:0em 0em 0em 0em;
color: #636363;
font-family: Arial,Helvetica,Verdana,"Lucida Grande",Lucida sans-serif;
font-size:0.8em;
text-align: justify;
line-height: 1.5;
}
img{
border:0;
}
/*this is the style for the main container with a fixed size*/
#maincontainer{
width:1280 !important; /*for all browsers */
width:1300; /*for IE */
margin:0em auto;
float:left;
background-color:#ffffff;
}
/*this is the style for the container header*/
#headercontainer{
width:1280 !important; /*for all browsers */
width:1300; /*for IE */
background-color:#ffffff;
margin:0em;
padding:0em 0em 0em 0em;
clear:both;
}
/*this is the style for the container logo*/
#logocontainer{
width:300 !important; /*for all browsers */
width:330;/*for IE only*/
padding:0.8em 0em 0em 3em;
float:left;
background-color: #ffffff;
}
/*this is the style for the container banner*/
#bannercontainer{
background-image:url(banner-github.png);
background-repeat:no-repeat;
width:636;
height:124;
padding:0em 0em 0em 0em;
float:left;
background-color:#ffffff;
}
/*this is the style for the midlle container*/
#middlecontainer{
width:1280;
clear:both;
background-color:#ffffff;
margin:0em;
padding:0em;
}
/*this is the style for the container address*/
#addresscontainer{
width:auto !important; /*for all browsers */
width:265;/*for IE */
padding:0em 0em 0em 9.5em;
margin:2.4em 0em 0em 0em;
background-color:#ffffff;
float:left;
}
/*this is the style for the container content*/
#contentcontainer{
width:630;
padding:0em 0em 0em 0em;
margin:2.3em 2.0em 2em 6.5em !important; /*for all browsers */
margin:2.3em 2.0em 2em 5em;/*for IE */
float:left;
background-color:#ffffff;
}
/*this is the style for the container footer*/
#footercontainer{
clear:both;
width:1100;
height:2em;
margin:9em 0em 0em 4.4em !important;
margin:2em 0em 0em 4.6em;/*for IE */
padding:0.5em 0em 0.8em 0em;
background-color: #ffffff;
}
#footertxt
{
width:500;
text-align:left;
margin:0em 0em 0em 5em;
}

